# Telegram Bot API
# Получить у @BotFather: https://t.me/BotFather
BOT_TOKEN=

# Ваш Telegram ID
# Получить у @userinfobot: https://t.me/userinfobot
ADMIN_ID=

# Telegram MTProto API
# Получить на https://my.telegram.org
API_ID=
API_HASH=
